.section_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    transform-style: preserve-3d;
    width: 100%;
    @include md {
        grid-template-columns: 1fr;
        justify-content: unset;
    }
    .card_grid {
        position: relative;
        width: 320px;
        height: 320px;
        margin: 20px;
        transform-style: preserve-3d;
        perspective: 1000px;
        &:hover .box {
        transform: rotateY(180deg);
        }
        .box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: 1s ease;
            .card_img {
                object-fit: cover;
                object-position: center;
                position: absolute;
                pointer-events: none;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 1.0);
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    overflow: hidden;
                }
                span.title {
                    position: absolute;
                    transform-style: preserve-3d;
                    transform: translateZ(50px);
                    perspective: 1000px;
                    top: 0;
                    left: 0;
                    text-align: left;
                    font-size: 18px;
                    width: 180px;
                    color: #ffc300;
                    margin: 20px;
                    text-shadow: 0 0 7px #937000cc;
                }
                .author {
                    position: absolute;
                    padding: 10px;
                    bottom: 0;
                    color: #fff;
                }
                time.entry-time {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 14px;
                    text-align: end;
                    width: 180px;
                    color: #ff3300;
                    margin: 20px;
                    text-shadow: 0 0 7px rgb(147 112 0 / 80%);
                }
            }
            .contentBox {
                position: absolute;
                pointer-events: none;
                top: 0;
                left: 0;
                width: 100%;
                height: 320px;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transform-style: preserve-3d;
                transform: rotateY(180deg);
                background: #333;
                div {
                    transform-style: preserve-3d;
                    padding: 20px;
                    height: 320px;     
                    background: rgba(255, 255, 255, 0.5);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
                    transform: translateZ(100px);
                    h3 {
                        color: azure;
                        font-size: 20px;
                        letter-spacing: 1px;
                        @include md {
                            font-size: 14px;
                        }
                    }
                    p {
                        color: azure;
                        font-size: 18px;
                        @include md {
                            font-size: 14px;
                        }
                    }

                    a.button {
                      position: absolute;
                      pointer-events: painted;
                      bottom: 0;
                      right: 0;
                      font-size: 1rem;
                      font-family: inherit;
                      border: none;
                      border-radius: 8px;
                      padding: 0.5rem 0.75rem;
                      box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
                      background-color: transparent;
                      line-height: 1.5;
                      margin: 20px;
                      text-decoration: none;
                      transition: .5s ease;
                      background-size: 200% auto;
                      &:hover {
                      color: #fff;
                      background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
                      transition: .5s ease;
                      }
                    }
                }
            }
        }
    }
}
.bottomLink {
    width: fit-content;
    position: fixed;
    bottom: 25px;
}
