.grid_post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
	transition: all ease-in-out 0.5s;
	@include md {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    height: unset;
    grid-gap: 25px;
    margin-bottom: 20px;
    }
	    article.postCard {
    	position: relative;
	    width: 100%;
	    max-width: 300px;
    	height: 300px;
		transition: all ease-in-out 0.5s;
			@include md {
			width: 320px;
			max-width: 350px;
			}
	    &:hover .postCard_img {
	    transform: translateY(0px) scale(0.3);
		transition: all ease-in-out 0.5s;
	    }
	    &:hover .textBox {
	    	transform: translateY(0) scale(1);
	    	opacity: 1;
			transition: all ease-in-out 0.5s;
	    }
		.postCard_img {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: -webkit-fill-available;
		    object-fit: cover;
		    object-position: center;
		    height: 300px;
    		overflow: hidden;
    		box-shadow: 0 3px 14px -2px #121111;
			transition: all ease-in-out 0.5s;
		    &::before {
		    	content: '';
			    width: 100%;
			    height: 100%;
		    	position: absolute;
		    	inset: 0;
		    	background: inherit;
		    	filter: blur(10px);
			    top: 0;
			    left: 0;
			    background-size: cover;
		    }
		    .titleBox {
					    position: absolute;
					    color: #e6e6e6;
					    bottom: 0;
					    font-size: 18px;
					    margin: 10px;
					    text-align: left;
					    text-shadow: 0 0 12px #292b2c;
    					pointer-events: none;
				}
			    img {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: -webkit-fill-available;
				    object-fit: cover;
				    object-position: center;
				    height: 300px;
				    overflow: hidden;
				    transition: all ease-in-out .5s;
				    }
		}
		    div.textBox {
		    	transform: translateY(0px) translateX(-138px) scale(.01);
		    	background: rgba(255, 255, 255, 0.2);
				backdrop-filter: blur(7.5px);
				-webkit-backdrop-filter: blur(7.5px);
    			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    			text-shadow: 2px 1px 15px #9E9E9E;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
			    width: -webkit-fill-available;
			    height: 300px;
		    	opacity: 0;
		    	transform-origin: top;
				transition: all ease-in-out 0.5s;
				.textContent {
					text-align: left;
				    position: relative;
				    height: -webkit-fill-available;
				    padding: 10px;
					pointer-events: none;
					a.button {
	                      position: absolute;
	                      pointer-events: painted;
	                      bottom: 0;
	                      right: 0;
	                      font-size: 1rem;
	                      font-family: inherit;
	                      border: none;
	                      border-radius: 8px;
	                      padding: 0.3rem 0.75rem;
	                      box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
	                      background-color: transparent;
	                      line-height: 1.5;
	                      margin: 20px;
	                      text-decoration: none;
	                      transition: .5s ease;
	                      background-size: 200% auto;
	                      &:hover {
	                      color: #fff;
	                      background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
	                      transition: .5s ease;
	                      }

					}

				}
		    }
	}
}