.myNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 0 20px;
    background: #3F51B5;
	    .btnLink {
	    font-weight: bold;
	    color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
	}
}